*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    font-family: "Racing Sans One", regular;
    font-style: normal;
    background-color: black;
    color: white;
    position: relative;

    animation: pulse 8s 1; 
}

#fadeinLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 5%;
    font-weight: bold;
    font-size: 65pt;

    animation-name: fadeinLeft;
    animation-delay: 5s;
    animation-direction: normal;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
}

#fadeupCenter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 50pt;

    animation-name: fadeupCenter;
    animation-delay: 10s;
    animation-direction: normal;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 50pt;
    font-weight: bold;
    text-decoration: none;
    color: goldenrod;
    padding-bottom: 25%;

    animation-name: fadeinCenter;
    animation-delay: 14s;
    animation-direction: normal;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
}




@keyframes pulse {
    0%{
      background-color: black;
    }
    15%{
        background-color: rgb(129, 125, 125);
    }
    30%{
        background-color: rgb(200, 200, 200) ;
    }
    35%{
        background-color: gainsboro ;
    }
    100% {
      background-color: black;
    }
  }

  @keyframes fadeinLeft {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    50%{
        transform: translateX(0pt);
    }
    100%{
        transform: translateX(800pt);
        opacity: 0;
    }
  }

  @keyframes fadeupCenter {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    0%{
        transform: translateY(350pt);
    }
    100%{
        transform: translateY(10pt);
    }
  }

  @keyframes fadeinCenter{
    0%{
        opacity: 0;
    }
    25%{
        transform: scale(1.2);
        opacity:0.25;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(0.9);
        opacity: 0.85;
    }
  }


 

  






/*fix timing on all of the pages*/




/*animation-name: pulse;
    /*animation-delay: 2s;
    animation-direction: ease-in-out;
    animation-duration: 2.8s;
    animation-iteration-count: 4;*/



/*@keyframes pulse {
    from {
        background-color: black;
    }
    to{
        background-image: grey, black;
    }
}*/


/*#threeLines{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    width: 100%;
    height: 100vh;
}*/


/*.backgroundcolor{
    height: 100vh;
    animation: animate 2s ease-in 4;
}

@keyframes animate{
    0%{
        background-color: black
    }
    100%{
        background-color: white;
    }
}*/

/*.moveRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 5%;
    font-weight: bold;
    font-size: 80pt;

    animation-name: moveRight;
    animation-delay: 28s;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: 1;
}*/

/*#fadeinCenter{
    animation-name: fadeinCenter;
    animation-delay: 22s;
    animation-direction: normal;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
}*/




