*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    font-family: "Courgette", cursive;
    font-style: normal;
    background-color:black;
    position: relative;
}

#left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-weight: normal;
    font-size: 55pt;
    color: white;
    padding-left: 5%;

    animation-name: left;
    animation-direction: normal;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
}

#fadeinRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    font-weight:bold;
    font-size: 55pt;
    color: white;
    padding-right: 5%;
    

    animation-name: fadeinRight;
    animation-delay: 2s;
    animation-direction: normal;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
}

#center{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-weight:bold;
    font-size: 85pt;
    color: goldenrod;
}


a{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-weight:bold;
    font-size: 65pt;
    color: goldenrod;
    text-decoration: none;

    animation-name: center;
    animation-delay: 6.8s;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
}




@keyframes left{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@keyframes fadeinRight{
0%, 100%{
    transform: scale(0.8);
    opacity: 0;
}
50%{
    transform: scale(1);
    opacity: 1;
}
100%{
    transform: translateX(-500pt);
}
}

@keyframes center{
    0%{
        opacity: 0;
    }
    100%{
        transform: scale(1.2);
        opacity: 1;
    }
}







/* emphasize secret and hide*/